.header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 1px #0000000c;
    padding: 20px 90px;
    margin-bottom: 20px;

    &__logo {
        color: $color-blue;
        @include center;

        img {
            width: 51px;
            height: 51px;
            margin-right: 10px;
        }

        @include font(30px, 700);
    }

    &__auth {
        @include center;
        position: relative;
        &__user {
            @include font(18px, 400);
            cursor: pointer;
            span {
                color: $color-blue;
                @include font(18px, 700)
            }
        }
        .logout-show{
            top: 80% !important;
            opacity: 1 !important;
            z-index: 99 !important;
        }

        .logout-content{
            position: absolute;
            top: 150%;
            right: 0;
            opacity: 0;
            z-index: -99;
            width: 100px;
            height: 50px;
            border-radius: 5px;
            @include center;
            background-color: $color-blue;
            color: white;

            &:hover{
                transform: scale(1.08);
            }
            svg{
                margin-right: 5px;
            }
        }

        .user-image {
            width: 60px;
            height: 60px;
            background-color: $color-blue-light;
            font-size: 20px;
            text-transform: uppercase;
            border-radius: 50%;
            color: white;
            padding: 10px;
            margin-left: 5px;
            letter-spacing: 1px;
            font-family: $fontNovo;
        }

        button {
            width: 80px;
            height: 30px;
            color: white;
            font-size: 16px;
            border: none;
            @include center;
            outline: none;
            font-weight: 700;
            text-transform: lowercase;
            border-radius: 10px;
            color: $color-blue;
            border: 1px solid $color-blue;
            background-color: transparent;
            cursor: pointer;
            
            &:hover {
                background-color: $color-blue;
                color: white;
            }
        }
    }
}