$color-blue:#6c82cb;
$color-blue-light:#b9c6f0;
$color-blue-light-1:#ebf3fe;
$color-white:#f5f6fa;
$color-dark:rgb(37, 36, 36);
$color-orange:rgb(252, 201, 106);
$fontNovo:'Noto Sans KR', sans-serif;